name: Preparant per producci贸
run-name: ${{ github.actor }} est pujant l'aplicaci贸 a PROD 

on:
  push:
    branches:
      - main

jobs:
  setup-laravel-nuxt:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:20.10.7
        options: --privileged

    steps:
      - name: Obtenint el codi del respositori
        uses: actions/checkout@v2

      - name: Configurar Docker
        run: |
          docker-compose -f ./docker-compose.yml up -d

      - name: Esperar a que los servicios est茅n listos
        run: |
          while ! curl -s http://localhost:8000 > /dev/null; do sleep 1; done
          while ! curl -s http://localhost:3000 > /dev/null; do sleep 1; done

      - name: Verificar la aplicaci贸n Laravel
        run: curl -f http://localhost:8000 || exit 1

      - name: Verificar la aplicaci贸n Nuxt
        run: curl -f http://localhost:3000 || exit 1

      - name: Instalar dependencias del proyecto Vue
        run: npm install
        working-directory: ./front

      - name: Construir el proyecto Vue
        run: npm run build
        working-directory: ./front

      - name: Subir a producci贸n con SCP
        run: |
          echo "${{ secrets.PROD_KEY }}" > ~/prod_key.pem
          chmod 600 ~/prod_key.pem
          scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i "~/prod_key.pem" ./front/dist/* ${{ secrets.PROD_USER }}@${{ secrets.PROD_HOST }}:/home/a16miqbargim/web/actions.a16miqbargim.daw.inspedralbes.cat/public_html/

      - run: echo " This job's status is ${{ job.status }}."
